@import "./variables";
@import "./navStyles";

.gallery-card-group {
  text-align: center;
  color: $whiteColor;
  button {
    color: white;
    width: 20%;
    border-radius: 8px;
    background-color: rgb(45, 49, 97);
  }

  .card {
    background: linear-gradient(
      155deg,
      rgba(39, 62, 68, 0.85) 14%,
      rgba(43, 35, 43, 0.85) 78%
    );
    margin: 10px;
  }

  .card-img-top:hover {
    box-shadow: 0px 20px 10px grey;
  }
}
