@import "./variables";
@import "./navStyles";

.services-deck {
  margin: 10px 0px;
}

.service-card {
  color: $whiteColor;
  margin-left: 10px;

  li {
    list-style-type: none;
    text-align: center;
    font-size: 120%;
  }
}

.card-header {
  font-size: 200%;
  font-weight: bold;
}

.first-option {
  background-color: $tealColor;
}

.second-option {
  background-color: $purpleColor;
}

.modal {
  color: black;
}

.modal-title {
  margin-left: 33%;
}

// ! FIRST OPTION BUTTON
// Copied from _indexStyles.scss -- added margin and different color
.first-option .button-wrapper-services {
  margin-top: 10px;
  a {
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: $whiteColor;
    border: 2px solid $whiteColor;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all 0.35s;
  }

  a span {
    position: relative;
    z-index: 2;
  }

  a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;

    // Purple without opacity
    background: #9b00f5;
    transition: all 0.35s;
  }

  a:hover {
    color: #fff;
  }

  a:hover:after {
    width: 100%;
  }
}

// ! Second OPTION BUTTON
// Copied from _indexStyles.scss -- added margin and different color
.second-option .button-wrapper-services {
  margin-top: 10px;
  a {
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: $whiteColor;
    border: 2px solid $whiteColor;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all 0.35s;
  }

  a span {
    position: relative;
    z-index: 2;
  }

  a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;

    // Teal without opacity
    background: #00ad9e;
    transition: all 0.35s;
  }

  a:hover {
    color: #fff;
  }

  a:hover:after {
    width: 100%;
  }
}
