// Primary colors
$whiteColor: #dadada;
$greenColor: rgb(19, 236, 146);
$redColor: rgb(218, 18, 51);
$blueColor: #0f8fe4;
$tealColor: #00ad9e80;
$purpleColor: #9b00f580;

// Font size
$fontSize: 20px;
